  <div class="row">
            <div class="col1">
                <h2>PS4 V2 <br> Dualshock</h2>
                <h3>Wireless Controler for PlaySatation</h3>
                <p>(conpetible/Generic)</p>
                <h4>$32.50</h4>
                <button type='button' >Buy Now <img src="img/arrow.png" alt="arrows"></button>
            </div>
            <div class="col2">
                <img src="img/controller.png" alt="controler" class="controler">
                <div class="colorbox"></div>
                <div class="addbtn">
                    <img src="img/add.png" alt="addpng">
                    <p><small>Add to carts</small></p>
                </div>
            </div>
        </div>