
{{!-- <footer class=" footer">this is footer</footer> --}}

<div class="slinks">
       <a href="https://www.facebook.com/"  target="__blanks"> <img src="img/fb.png" ></a> 
       <a href="https://twitter.com/"  target="__blanks"><img src="img/tw.png" ></a> 
       <a href="https://www.instagram.com/?hl=en"  target="__blanks"> <img src="img/ig.png" ></a> 
       
        
       
    </div>
    