
<div class="navbar">
    <img src="img/logo.png" class ="logo" alt="logo">
    <nav id ='nav1'>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="">Media remote</a></li>
            <li><a href="">other</a></li>
        </ul>
    </nav>
    <img src="img/menu.png" id='menu' class='menu' alt="menu">
</div>
