<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{>header}}
    <div>

    <h1>helooo! <br> i am super dog ...u are landing on about page</h1>
    <img src="https://thumbs.dreamstime.com/b/funny-superhero-dog-flying-bulldog-flies-sky-cape-costume-steel-hero-good-fighting-crime-108560066.jpg" alt="image">
    </div>
    {{>footer}}
</body>
</html>